body {
    background-image: url('../../assets/paper-background.svg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0; 
    min-height: 100vh;
    height: auto;
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;
}  

.storyContainer {
    display: flex;
    flex-direction: column;
} 

.story-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    padding-top: 4.5%;
    z-index: 1;
} 

.flipbook { 
    line-height: 1.2;
    transform: translateX(0); 
} 

.flipbook p {
    text-indent: 30px;
    white-space: pre-line; 
}

@keyframes glideToLeft {
    0% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(-25%);
    }
}

@keyframes glideToRight {
    0% {
        transform: translateX(-25%); 
    }
    100% {
        transform: translateX(0); 
    }
}

.flipbook.shift-left {
    animation: glideToLeft 0.8s ease-in-out forwards;
}

.flipbook.shift-right {
    animation: glideToRight 0.8s ease-in-out forwards; 
}


.story-page {
    margin: 50px auto;
    width: 80%;
    text-align: center; 
}

.main-title {
    font-size: 40px;
    text-align: center; 
    margin-bottom: 20px;
}

.story-subtitle {   
    margin-bottom: 10px;
    font-size: 20px; 
    text-align: center;
    font-family: var(--main-font);
} 

.page {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;       
}

.page-content {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;  
}

.PageImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; 
} 

.page-text {
    position: absolute; 
    top: 50%;
    left: 35px;
    right: 35px;
    transform: translateY(-50%); 
    color: #333;
    font-size: 20px; 
    text-align: left;
    font-weight: bold; 
}     

/* PAPER MODE */
.paper-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
    min-height: 100vh; 
}

 .paper-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;        
    height: 100%;        
    object-fit: cover;   
    z-index: -1;
} 

.paper-content { 
    line-height: 1.6;
    max-width: 670px;   
    margin: 0 auto;      
    padding: 50px;       
    position: relative;  
    z-index: 1;   
    min-height: 150vh;
} 

.paper-content .story-text p { 
    width: 100%;
    text-align: justify; 
    text-indent: 1.5em;
    margin-bottom: 1em;   
}    

/* CUSTOM FONT SIZE */
.font-size-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-end;  
    position: absolute;
    top: 10px;
    right: 10px; 
    gap: 3px; 
  }
  
  .font-size-button {
    background-color: var(--green);
    border: 2px solid var(--yellow);
    color: var(--beige); 
    font-weight: bolder;
    padding: 5px 8px; 
    font-size: 8px;
    cursor: pointer;
    border-radius: 5px; 
    transition: all 0.3s ease;
    text-align: center;  
    z-index: 10000;
  }
  
  .font-size-button:hover {
    transform: scale(0.98);
  } 
 
  .hover-word {
    display: inline-block;
    cursor: default;
    margin-left: -22px;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .hover-word:hover{ 
    font-weight: bold;
    color: var(--green);
    transform: translateY(-4px) scale(1);
  }
  

.girlIMG {
    position:absolute;
    bottom: 30px;
    right: 40px;
    z-index: 2; 
    width: 20px; 
    height: 30px;  
    filter: brightness(0) saturate(100%)
}

/* PAPER MODE */


/* PROGRESS BAR */
.progress-bar-container {
    margin-top: 20px;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.progress-bar { 
    max-width: 50%;
    background: var(--green); 
    border-radius: 7px; 
    outline: none;
    position: relative;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    overflow: hidden; 
    padding: 6px;
}  

/* Trail */
.progress-bar::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 5px;
    background: var(--yellow);
    border-radius: 8px;
    z-index: 1;
    margin-left: 10px;
    width: var(--progress-width, 0);
    transition: all 0.1s ease; 
}

/* Thumb */
.progress-bar::-webkit-slider-thumb {
    display: none;
}
/* PROGRESS BAR */ 


/* HOVER AND PAPER-BOOK BTNS */ 
.paper-icon, .download-btn{ 
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 24px; 
    border-radius: 5px;   
    padding: 1.5px 3.5px;  
    position: absolute; 
    right: 10px;  
    background-color: var(--green);
    color: var(--beige); 
    transition: all 0.3s ease;  
}  

.paper-icon {
    top: 5px;
} 

.download-btn { 
    top: 40px;
} 

/* Tooltip bubble */
.paper-icon::after, .download-btn::after{
    position: absolute;
    left: -50%;  
    margin-left: 5px;
    transform: translateX(-100%); 
    padding: 8px 12px; 
    background-color: var(--green);
    color: var(--yellow);
    font-size: 14px;
    border-radius: 5px;
    visibility: hidden; 
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;  
}

/* Arrow pointing to the right */
.paper-icon::before, .download-btn::before {
    content: ""; 
    position: absolute;
    left: -33%; 
    top: 50%;  
    margin-left: 5px;
    transform: translateX(-100%) translateY(-50%); 
    width: 0; 
    height: 0; 
    border-style: solid;
    border-width: 7px 0 7px 10px; 
    border-color: transparent transparent transparent var(--green); 
    visibility: hidden; 
    opacity: 0;
    transition: opacity 0.3s ease;
}

.paper-icon.book-view::after {
    content: "Book view";
}

.paper-icon.formal-view::after {
    content: "Paper view";
} 

.download-btn::after {
    content: "Download file"; 
} 

.paper-icon:hover::after, 
.paper-icon:hover::before, 
.download-btn:hover::after, 
.download-btn:hover::before{
    visibility: visible;
    opacity: 1;
}

.paper-icon:hover, .download-btn:hover{ 
    color: var(--yellow);
}
/* HOVER AND PAPER-BOOK BTNS */ 
