__pycache__
*.pyc
*.pyo
*.pyd
.git

venv
env
*.env
*.log

Dockerfile
docker-compose.yml

.DS_Store
Thumbs.db

server/.env
server/venv/
model/__pycache__
client/node_modules
client/.DS_Store
client/dist


