h1, h2, p{
    cursor: default;
}

.contactUs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 40px 50px;
    width: 100%;
}

.contactUs-bot{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%; 
    z-index: 2;
}

.contactUs h1{
    color: var(--green);
    font-family: "EfcoBrookshire", sans-serif;
    font-size: 50px;
    letter-spacing: 1px;
    padding: 10px;
    margin-top: 30px;
}

.contactUs p{
    color: var(--beige);
    font-family: "Lora", sans-serif;
    font-size: 16px;
}

.contactUs-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 50px;
    width: 100%;
    height: 80%;
}

.vertical-line{
    width: 1px; 
    height: 90%; 
    background-color: var(--green); 
    margin: 0 auto; 
}

.contacts{
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 80px;
    padding-top: 10px;
}

.contact-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--green);
    margin: 10px;
    padding: 20px;
    width: 80%;
    border-radius: 5px;
}

.contact-items p{
    padding-left: 10px;
    font-size: 14px;
}

.contact-icons{
    color: var(--beige);
}

.contactForm{
    width: 49%;
    padding-left: 80px;
    padding-top: 10px;
}

.contactForm input, .contactForm textarea{
    width: 80%;
    border-radius: 5px;
    padding: 15px 10px;
    color: var(--beige);
    background-color: var(--green);
    margin: 10px;
    border: none;
    outline: none;
    font-size: 14px; 
} 

.contactForm textarea{
    resize: none;
}

.contactForm input::placeholder,
.contactForm textarea::placeholder{
    color: var(--beige);
    letter-spacing: 0; 
    font-family: "Lora", sans-serif; 
    font-size: 14px; 
    text-transform: capitalize;
} 

.contactForm button{
    margin: 10px;
    border-radius: 5px;
    width: 18%;
    padding: 10px 0;
    background-color: var(--yellow);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: var(--green);
    font-weight: 600; 
    font-family: "EfcoBrookshire", sans-serif;
    transition: all 0.3s ease-in-out;
}

.contactForm button:hover{
    transform: scale(0.98);
}

.spinner-wrapper {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
.button-spinner {
    border: 3px solid var(--beige);
    border-top: 3px solid var(--yellow); 
    border-radius: 50%;
    width: 23px;
    height: 23px; 
    animation: spin 1s linear infinite;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* Media Queries for Responsiveness */

@media (max-width: 768px) {
    .contactUs {
        padding: 20px 40px; /* Reduced padding */
    }

    .contactUs h1 {
        font-size: 40px;
        margin-top: 20px; /* Reduced margin-top */
    }

    .contactUs p {
        font-size: 16px;
    }

    .contactUs-container {
        flex-direction: column-reverse;
        padding: 20px 40px;
        align-items: center;
        justify-content: center;
    }

    .contacts {
        width: 70%;
        padding: 0;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .contactForm {
        width: 100%;
        flex-direction: column;
        align-items: column;
        padding: 0;
    }

    .contact-items {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .contactForm input, .contactForm textarea {
        width: 100%;
    }

    .contactForm button {
        width: 100%;
    }

    .vertical-line {
        display: none;
    }
}

@media (max-width: 480px) {
    .contactUs h1 {
        font-size: 25px;
    }

    .contactUs p {
        font-size: 14px;
    }

    .contact-items p {
        font-size: 12px;
    }

    .contactForm input, .contactForm textarea {
        font-size: 12px;
    }

    .contactForm button {
        font-size: 16px;
    }
}