:root {
    --green: #294122;           
    --white: #FFFFFF;           
    --hoverColor: rgba(221, 189, 115, 0.4); 
    --mustard: #E1A10B;         
    --beige: #FFEACF;        
    --fontweight: 450;  
    --max-width: 600px;
    --min-width: 250px; 
    --main-font: "EfcoBrookshire", sans-serif;  
  }  

body {
    background-color: var(--beige);
    margin: 0;
    padding: 0; 
    font-family: "Lora", sans-serif;
  }

/* Main Page */
.customization-container { 
    padding: 0 330px;    
    z-index: 1000; 
}

.custom {  
    position: relative;
    height: 490px; 
    width: 400px; 
    background-color: var(--green);  
    float: left; 
    margin-top: 150px; 
    border-radius: 10px;  
    transition: background-color 0.5s ease;
} 

.custom-frame {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    z-index: 1;  
    filter: brightness(0) saturate(100%) invert(82%) sepia(46%) saturate(5567%) hue-rotate(5deg) brightness(98%) contrast(91%);
}

.without-custom {    
    position: relative; 
    height: 490px; 
    width: 400px; 
    background-color: var(--mustard); 
    float: right; 
    margin-top: 150px; 
    border-radius: 10px;  
    transition: background-color 0.5s ease;
} 

.without-custom-frame{ 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 1;   
}
 
.custom-text {
    position: relative;      
    z-index: 2;              
    text-align: center;         
    display: flex;              
    flex-direction: column;      
    justify-content: center;    
    align-items: center;        
    height: 100%;               
    font-size: 32px;            
    line-height: 1.2;         
    white-space: normal;       
    margin: 0;               
    padding: 0;               
}

.custom-text span {
    display: block;          
    font-family: var(--main-font); 
}

.without-custom-text {
    position: relative;
    z-index: 2;
    text-align: center; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%;  
    font-family: var(--main-font);  
    font-size: 32px;
} 

.custom-text{ 
    color: var(--mustard);  
    text-decoration: none;
} 

.without-custom-text{ 
    color: var(--green); 
} 

.custom:hover,

.without-custom:hover, .without-custom-text:hover{ 
    background-color: var(--hoverColor); 
    border-radius: 10px;  
} 



 /* ---Custom Page--- */ 
 .custom-body { 
    position: relative; 
    background-color: var(--green);
    width: 100vw; 
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.grainy-bg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    z-index: 1; 
}

.grainy-bg {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    filter: brightness(0) saturate(100%) invert(67%) sepia(71%) saturate(2650%) hue-rotate(7deg) brightness(99%) contrast(91%);
    position: absolute;
}  

.logo-2 {
    position: absolute;
    top: 20px; 
    left: 20px; 
    width: 150px; 
    height: auto; 
    z-index: 2; 
}
 
.custom-container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.small-container {
    position: relative; 
    height: 410px;
    width: 550px;
    background-color: var(--beige);
    border-radius: 10px;
    overflow: hidden; 
    z-index: 10; 
    margin-top: 25%;
}

.tornpaper {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    z-index: 10; 
} 

.close-icon {
    position: absolute; 
    top: 35px; 
    right: 10px; 
    cursor: pointer; 
    font-size: 20px; 
    color:var(--green);
    z-index: 10;  
    background-color: transparent; 
    border: none;
    transition: background-color 0.3s; 
}

.close-icon:hover { 
    color: var(--mustard);
}

.inputs {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 40px 20px; 
    text-align: center; 
    z-index: 10; 
    background-color: none; 
    border-radius: 8px; 
}
 
.inputs h1{ 
    font-family: var(--main-font); 
    color: var(--green); 
    margin-bottom: 30px;
} 
 
.inputs label{   
    display: flex; 
    text-align: center; 
    align-items: center; 
    justify-content: center;
    font-family: var(--main-font); 
    color: var(--green); 
    font-size: 25px; 
}  

.title-input{ 
    width: 90%;   
    padding: 15px 0 15px 5px; 
    border-radius: 10px; 
    border: 2px solid var(--green); 
    font-size: 16px;     
    color: var(--green);  
    background-color: transparent; 
    outline: none; 
    text-align: left; 
    transition: background-color 0.3s; 
}
 
.title-input::placeholder{  
    font-family: var(--main-font); 
    color: var(--green);    
    text-align: left;
} 

.title-input:hover{ 
    background-color: rgba(212, 208, 197, 0.3); 
} 

.title-input:focus:hover {
    background-color: transparent;
}

.generate-button {
    background-color: var(--mustard);
    color: var(--green); 
    border: none; 
    border-radius: 10px; 
    padding: 10px 30px; 
    font-family: var(--main-font); 
    font-size: 20px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    margin-top: 20px;
}

.generate-button:hover {
    background-color: var(--hoverColor);
}

