.footer-alt{ 
    background-color: var(--green); 
} 

.footer-alt .leftPart h1, .footer-alt .leftPart p, .footer-alt .socialMedia-item, .footer-alt .termsPolicy-item{  
    color: var(--beige);
}

.leftPart h1{
    font-weight: 600;
}