:root {
  --hoverColor: rgba(41, 65, 34, 0.3);
  --fontweight: 450; 
  --main-font: "EfcoBrookshire", sans-serif;  
}  

.navbar {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  display: flex; 
  justify-content: center;
  align-items: center; 
  z-index: 1;
}

.inside-banner {
  position: absolute; 
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%; 
  height: 52vw;
  object-fit: cover;   
} 

.inside-navbar1{  
	margin: 0 auto; 
	width: 1170; 
	z-index: 1000;   
} 

.inside-navbar1 ul{  
	padding: 20px 485px; 
	list-style: none; 
	text-align: right;   
	margin-left: -0.8%;  
} 

.inside-navbar1 ul li{ 
	float: none;  
	display: inline-block;
}   

.nav-left.active {
  color: var(--yellow);
}

.inside-navbar1 ul li:nth-child(1){ 
	float: left;
} 

.inside-navbar1 ul li:nth-child(2){ 
	float: left;
} 

.inside-navbar1 ul li a, .inside-navbar1 button{ 
	display: block;  
	padding: 10px 25px;
}

#navbar{ 
	width: 100%; 
	position: relative;   
	z-index: 3; 
}

.logo1{ 
	position: absolute; 
	left: 55.5%; 
	top: 0;  
	margin-left: -150px;
	content: "";   
	z-index: 1; 
	margin-top: 10px;
}

.inside-navbar1 a, .inside-navbar1 button{
	color: var(--beige);
	font-size: 14px;
	text-decoration: none;
	font-weight: 500; 
	transition: all 0.3s ease;
}

.inside-navbar1 button{
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.inside-navbar1 a:hover, .inside-navbar1 button:hover{
	color: var(--yellow);
} 


/*SIDEBAR*/
.sidebar {
  position: fixed;  
  margin-left: 10px;
  margin-top: 3.5%; 
  width: 18.5%;
  height: 89%;  
  border-radius: 10px;
  background-color: var(--beige);
  z-index: 10000; 
  display: none; 
  flex-direction: column; 
  overflow: visible; 
  border: 2px solid var(--green);  
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  transition: height 0.3s ease, top 0.3s ease;
}

.sidebar.open {
  display: flex; 
}

.sidebar-content {
  position: relative; 
  z-index: 3;  
}

.close-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 5px;  
  margin-bottom: -10px; 
  margin-right: 13px;
}

.sidebar-title {
  font-size: 15px;  
  font-weight: 600;
  font-family: var(--main-font);
  margin-left: 10px;
  color: var(--green);
  flex-grow: 1;
}


.close-btn { 
  background-color: transparent; 
  color: var(--green); 
  font-size: 25px; 
  border: none;  
  padding: 8px 8px 0 8px; 
  cursor: pointer; 
  border-radius: 8px;    
  position: relative;
  transition: background-color 0.3s;   

} 

/* Tooltip bubble for .close-btn */
.close-btn::after {
  content: "Close sidebar"; 
  position: absolute;
  top: 50%; 
  left: 100%; 
  margin-top: 6px;
  transform: translateX(8px) translateY(-50%); 
  padding: 8px 12px; 
  background-color: var(--green); 
  color: var(--yellow); 
  font-size: 14px; 
  border-radius: 5px; 
  visibility: hidden; 
  opacity: 0; 
  transition: opacity 0.3s ease; 
  white-space: nowrap; 
  z-index: 1;
}

/* Arrow pointing to the left for .close-btn */
.close-btn::before {
  content: ""; 
  position: absolute;
  top: 50%;
  left: 100%; 
  margin-left: 17px;
  transform: translateX(-12px) translateY(-50%) rotate(45deg);
  width: 10px; 
  height: 10px; 
  background-color: var(--green); 
  visibility: hidden; 
  opacity: 0; 
  transition: opacity 0.3s ease;  
}

/* Show tooltip and arrow on hover */
.close-btn:hover::after, 
.close-btn:hover::before {
  visibility: visible; 
  opacity: 1; 
}

.close-btn:hover, .new-chat-container:hover{ 
  background-color: var(--hoverColor); 
  z-index:1001;    
}    

.search-container {
  position: relative;
  flex-grow: 1;
  margin: 0 10px;
}

.search-bar {
  width: 100%; 
  padding: 12px 40px 12px 12px;
  border: 2px solid var(--green);   
  border-radius: 8px; 
  outline: none; 
  background-color: var(--beige);  
  text-transform: lowercase; 
  transition: background-color 0.3s ease, border-color 0.3s ease; 
} 

.search-icon {
  position: absolute; 
  right: 20px; 
  top: 50%; 
  transform: translateY(-50%); 
  font-size: 20px;
  color: var(--green);
  cursor: pointer; 
}

 
.search-bar:hover {
  background-color: rgba(212, 208, 197, 0.3);  
} 

.search-bar::placeholder { 
  font-size: 16px;
  color: var(--green);  
  font-family: var(--main-font); 
}     

.new-chat-container {
  background-color: var(--yellow);  
  border-top: 2px solid var(--green); 
  border-left: 1px solid var(--green); 
  border-right: 1px solid var(--green);
  border-bottom: 1px solid var(--green);   
  display: flex; 
  align-items: center;  
  transition: background-color 0.3s ease;  
} 

.new-chat-btn {
  color: var(--beige);  
  font-size: 16px; 
  border: none;  
  padding: 15px; 
  cursor: pointer; 
  text-align: left; 
  margin-top: auto; 
  border-radius: 10px;  
  background-color: transparent;  
  flex-grow: 1; 
  font-family: var(--main-font); 
  text-transform: lowercase; 
  transition: all ease 0.3s; 
}  

.new-chat-btn:hover{ 
  color: var(--green);
}

.new-chat-icon {
  margin-left: auto; 
  margin-right: 7%;
  font-size: 25px;  
  color: var(--green);
  cursor: pointer;  
  transition: transform 0.3s ease;
}
 
.new-chat-icon:hover{ 
  transform: scale(1.1);  
} 

.logo_small {
  width: 20px;
  height: 20px; 
  margin-left: 10px; 
  border-radius: 50%;
}    

.empty-message{ 
  color: var(--green); 
  text-align: center;  
  align-items: center;  
  margin-top: 5px;
}   

/* DAY CATEGORY */ 
/* .category-today,  
.category-7days,  
.category-30days {
  display: none; 
  font-family: var(--main-font); 
  text-transform: lowercase; 
  padding-left: 15px; 
  color: var(--green); 
  border: 1px solid var(--green);  
}

.scrollable-content .category-today,    
.scrollable-content .category-7days,  
.scrollable-content .category-30days {
  display: block;
}  */

/*  SCROLL */
.scrollable-content {
  overflow-y: auto;
  overflow-x: hidden; 
  box-sizing: border-box; 
  transition: max-height 0.2s ease-in-out;    
}

/* Custom Scrollbar Styling*/
.scrollable-content::-webkit-scrollbar {
    width: 8px; 
} 

.scrollable-content::-webkit-scrollbar-track {
  background-color: var(--hoverColor);  
  border-radius: 5px;        
}

.scrollable-content::-webkit-scrollbar-thumb {
  background-color: var(--green);  
  border-radius: 5px;        
}

.scrollable-content::-webkit-scrollbar-thumb:hover {
  background-color: #073a0b; 
}

.story-container {
  background-color: transparent;
  border: 1px solid var(--green);
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  position: relative; 
}

.story-container.active {
  background-color: rgba(0, 128, 0, 0.1);
} 

.story-container:hover{ 
  background-color:  rgba(41, 65, 34, 0.3); 
}

.story-title {
  color: var(--green);
  font-size: 16px;
  border: none;
  padding: 15px;
  cursor: pointer;
  text-align: left;
  margin-top: auto;
  background-color: transparent;
  flex-grow: 1; 
  font-family: var(--main-font);
  text-transform: lowercase; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: inline-block; 
  width: 100%; 
  max-width: 250px;
  transition: color 0.3s, background-color 0.3s;
}

.menu-icon {
  margin-left: auto;
  margin-right: 7%;
  font-size: 22px;
  color: var(--green);
  cursor: pointer;
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s, transform 0.3s;
}

.story-container.active .menu-icon,
.story-container:hover .menu-icon {
  opacity: 1; /* Show on hover or active */
}

.menu-icon:hover{ 
  transform: scale(1.1);  
}  

.dropdown-menu {
  right: 0;
  border: none;
  z-index: 10;
}

.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #921818;
  padding: 16px 23px;
  border: none;
  cursor: pointer;
  gap: 10px;
}

.delete-icon {
  color: var(--beige);
  font-size: 17px;
}

.button-container {
  text-align: center; 
  display: flex;  
  border: 2px solid var(--green);   
  margin-left: 10px;  
  position: fixed; 
  margin-top: 3.5%; 
  border-radius: 10px; 
  padding: 3px;    
  z-index: 1000; 
  background-color: var(--beige); 
  transition: margin-top 0.3s ease, position 0.3s ease, top 0.3s ease;
}  

.button-container.hidden {
  opacity: 0;
  pointer-events: none;
} 

.button-container:not(.hidden) {
  opacity: 1;
}

.open-btn { 
  background-color: transparent;
  color: var(--green); 
  padding: 8px 8px 0 8px; 
  border: none; 
  cursor: pointer;  
  font-size: 25px;   
  border-radius: 8px;  
  transition: background-color 0.3s ease;  
  position: relative;
}   

.open-btn:hover {
  background-color: var(--hoverColor); 
}

/* Tooltip bubble for .open-btn */
.open-btn::after {
  content: "Open sidebar"; 
  position: absolute;
  top: 100%; 
  left: 0; 
  transform: translateY(8px); 
  padding: 8px 12px; 
  background-color: var(--green); 
  color: var(--yellow);
  font-size: 14px; 
  border-radius: 5px; 
  visibility: hidden; 
  opacity: 0; 
  transition: opacity 0.3s ease; 
  white-space: nowrap;
  margin-top: 5px;
}

/* Arrow pointing to the upper left for .open-btn */
.open-btn::before {
  content: ""; 
  position: absolute;
  top: 100%; 
  left: 10px; 
  margin-top: 5px;
  transform: translateY(5px) rotate(45deg); 
  width: 8px; 
  height: 8px; 
  background-color: var(--green); 
  visibility: hidden; 
  opacity: 0; 
  transition: opacity 0.3s ease; 
  z-index: 10000; 
}

.open-btn:hover::after, 
.open-btn:hover::before {
  visibility: visible; 
  opacity: 1; 
}

.open-btn:hover{
  background-color: var(--hoverColor); 
}  

/* Modal Container */
.modal-container {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100001;
}

/* Modal Content */ 
.modal-logout h2{
  font-family: var(--main-font);
      color: var(--green);   
      margin-top: -5px;
      margin-bottom: 10px; 
  }    

/* Horizontal Line */
.modal-line {
  width: 100%; 
  max-height: 130px;
  margin: -55px 0 -40px 0; 
  object-fit: contain; 
}

.modal-logout {
  background: var(--beige); 
  color: var(--green);
  padding: 30px 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
} 

/* Modal Buttons */ 
.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 23px;
}

.confirm-btn, .cancel-btn {
  padding: 10px 30px;
  font-size: 16px;
  font-weight: var(--fontweight);
  border: none;
  border-radius: 5px;
  cursor: pointer; 
  font-family: var(--main-font);  
  text-transform: lowercase;
  transition: all 0.3s ease;
}

.confirm-btn { 
  color: var(--beige);
  background-color: var(--green); /* Red for confirmation */
}

.cancel-btn { 
  color: var(--green);
  background-color: var(--yellow); /* Green for cancellation */
}

.confirm-btn:hover, .cancel-btn:hover {
  transform: scale(0.98);
}
 
