.forgot-password-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
  }
  
  .forgot-password-modal {
	position: relative;
	width: 30%;
	max-width: 550px;
	background-color: var(--beige);
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	align-items: center; 
  }
  
  .close-icon {
	position: absolute;
	top: 3%;
	right: 3%;
	font-size: 18px;
	color: var(--green);
	background-color: transparent;
	border: none;
	transition: transform 0.3s;
  }
  
  .close-icon:hover {
	color: var(--yellow);
  }
  
  .fp-inputs {
	width: 80%;
	text-align: center;
  } 

  .fp-inputs::before {
    content: "";
    background: url('../../assets/forgot-img.svg') no-repeat center;
    background-size: contain;
    width: 50%;
    display: block;
    margin: 5px auto 10px auto; 
    padding: 110px;
}
  
  .fp-inputs h1 {
	font-family: var(--main-font);
	color: var(--green);
	margin: 20px 0;
  } 
 
  .fp-inputs p{ 
	color: var(--green); 
	margin-bottom: 10px; 
  }
  
  .success-message,
  .error-message {
	margin: 10px 0;
	font-size: 14px;
  }
  
  div.forgot-password-modal .fp-success-message {
    color: green;
    font-size: 15px;
    margin: 10px 0;
    border: 1px solid green;
    padding: 15px 10px;
    border-radius: 5px;
    background-color: rgba(0, 255, 0, 0.1); 
  }
  
  
  div.forgot-password-modal .fp-error-message {
    color: red;
    font-size: 15px;
    margin: 10px 0;
    border: 1px solid red;
    padding: 15px 10px;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.1);
}
  
  .email-input {
	padding: 12px;
	margin-bottom: 25px;
	border: 2px solid var(--green);
	border-radius: 5px;
	font-size: 16px;
	color: var(--green); 
	text-transform: lowercase;
  }
  
  .submit-btn {
    background-color: var(--yellow); 
      color: var(--green);
    padding: 9px 0;
    border: none;
    border-radius: 5px;
    font-family: var(--main-font);
    font-size: 22px;
    cursor: pointer;
    width: 40%;     
  	text-transform: lowercase;
    transition: all 0.3s ease;
}
  
  .submit-btn:hover {
	transform: scale(0.98);
  }  

  .submit-btn.loading:hover {
    transform: none;
  }

  .fp-button-spinner {
    border: 3px solid var(--green);
    border-top: 3px solid var(--beige); 
    border-radius: 50%;
    width: 30px;
    height: 30px;  
    display: block;
    margin: 0 auto;
    animation: spin 1s linear infinite;
  }
  
  .back-to-login-btn {
    background: none;
    border: none;
    color: var(--green);
    cursor: pointer;
    font-size: 14px;
    display: block;
    text-align: center;
    margin: 0 auto;   
	margin-top: 15px;
	margin-bottom: 10px;
}
  
  .back-to-login-btn:hover {
	text-decoration: underline;
    text-decoration-color: var(--green); 
  }