@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Lora", sans-serif;
}

body {
	font-family: "Lora", sans-serif;
}

:root {
	--white: #FFFFFF;
	--beige: #FFEACF;
	--green: #294122;
	--yellow: #E1A10B;
    --bgColor: #8e8a81;
}

.inside-navbar{  
	margin: 0 auto; 
	width: 1170px; 
	z-index: 1000;   
} 

.inside-navbar ul{  
	padding: 20px 250px; 
	list-style: none; 
	text-align: right;   
	margin-left: 3%;  
} 

.inside-navbar ul li{ 
	float: none; 
	display: inline-block;
} 

.inside-navbar ul li:nth-child(1){ 
	float: left;
} 

.inside-navbar ul li:nth-child(2){ 
	float: left;
} 

.inside-navbar ul li a{ 
	display: block;  
	padding: 10px 20px;
}

.banner {
	position: absolute; 
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%; 
	height: 52vw;
	object-fit: cover;   
} 

#navbar{ 
	width: 100%; 
	position: relative;   
	z-index: 3; 
}

.logo{ 
	position: absolute; 
	left: 55.5%;
	top: 0;  
	margin-left: -130px;
	content: "";   
	z-index: 1; 
	margin-top: 10px;
	width: 300px; /* Adjust the width to make it bigger */
	height: auto; /* Maintain aspect ratio */
}

.inside-navbar a{
	color: var(--beige);
	font-size: 14px;
	text-decoration: none;
	font-weight: 500; 
	transition: all 0.3s ease;
}

.inside-navbar a:hover{
	color: var(--yellow);
} 

.nav-right.active {
    color: var(--yellow); 
}


@media (max-width: 1024px) {
	.logo {
		position: absolute; 
		left: 55.5%;
		top: 0;  
		margin-left: -95px;
		z-index: 1;
		width: 500px;
		height: auto;
	}

	.inside-navbar ul {
		display: flex;
		padding: 10px 30px;
		text-align: left;
		margin-left: 12%;  
	}

	.inside-navbar ul li {
		float: none; 
		display: inline-block; 
		width: auto;
	}

	.inside-navbar ul li a {
		display: flex;
		padding: 10px;
		font-size: 16px;
		margin: 0 20px; /*Adjusted margin to lessen space */
	}

	.banner {
		height: auto;
	}

	.logo-image {
		height: 100px;
	}
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .inside-navbar {
        width: 250%;
    }

    .inside-navbar ul {
        padding: 10px 20px;
        text-align: center;
    }

    .inside-navbar ul li {
        float: none;
        display: block;
        width: 100%;
    }

    .inside-navbar ul li a {
        padding: 10px;
        font-size: 16px;
    }

    .logo {
        left: 50%;
        margin-left: -90px;
        width: 150px;
    }

    .banner {
		width: 100px;
        height: auto;
		top: 20px;
    }

	.logo-image {
		height: 100px;
	  }
}

@media (max-width: 480px) {
	.inside-navbar ul {
		padding: 10px 10px;
		text-align: center;
	}

	.inside-navbar ul li {
		display: inline-block;
		float: none;
	}

	.inside-navbar ul li a {
		font-size: 14px;
	}

	.logo {
		width: 120px;
		height: auto;
		margin-left: -60px;
	} 

	.banner {
		height: auto;
	}
}