.verify-email {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;    
    background-color: rgba(0, 0, 0, 0.5);
    position: relative; 
    z-index: 10;  
}

.verify-email-container {
    text-align: center;
    padding: 30px; 
    width: 35%;
    border-radius: 10px;
    background-color: var(--beige);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
    position: relative; /* Required for z-index to apply */

}
  
.verify-email-container h1 {
    margin-bottom: 15px;
    color: var(--green); 
    font-family: var(--main-font);
}
  
.verify-email-container p {
    margin-bottom: 20px;
    font-size: 16px;   
    color: var(--green);
}
 

  /* Go to Login button */
.btn-go-to-login {
    background-color: var(--yellow);
    color: var(--green);
    padding: 9px 0;
    border: none;
    border-radius: 5px;
    font-family: var(--main-font);
    font-size: 24px;
    cursor: pointer;
    width: 30%;   
    text-transform: lowercase;
    transition: all 0.3s ease;
}

.btn-go-to-login:hover {
    transform: scale(0.98);
}

  /*Email Image*/ 
  .email-image {
    width: 280px;
    height: auto;
    margin-bottom: 20px;
  } 

  
  